Repository webia1/ng-three: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{css,scss}": "stylelint --fix",
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{json,md,html}": "prettier --write"
}

Add angular-three and @nx/angular dependencies
  package-lock.json
  package.json
Due: prettier --write

Create Angular App
  .eslintrc.json
  .gitignore
  .vscode/extensions.json
  apps/ng-three/.eslintrc.json
  apps/ng-three/jest.config.ts
  apps/ng-three/project.json
  apps/ng-three/public/favicon.ico
  apps/ng-three/src/app/app.component.html
  apps/ng-three/src/app/app.component.scss
  apps/ng-three/src/app/app.component.ts
  apps/ng-three/src/app/app.config.ts
  apps/ng-three/src/app/app.routes.ts
  apps/ng-three/src/app/nx-welcome.component.ts
  apps/ng-three/src/index.html
  apps/ng-three/src/main.ts
  apps/ng-three/src/styles.scss
  apps/ng-three/src/test-setup.ts
  apps/ng-three/tsconfig.app.json
  apps/ng-three/tsconfig.editor.json
  apps/ng-three/tsconfig.json
  apps/ng-three/tsconfig.spec.json
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: stylelint --fix, eslint --fix, prettier --write

Update package.json dependencies
  package-lock.json
  package.json
Due: prettier --write

Add Linter Configs and an Example Component in Angular App
  .vscode/settings.json
  apps/ng-three/src/app/app.component.html
  apps/ng-three/src/app/app.component.ts
  apps/ng-three/src/app/experience/experience.component.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Remove Nx Welcome Component
  apps/ng-three/src/app/app.component.ts
  apps/ng-three/src/app/nx-welcome.component.ts
  package.json
Due: eslint --fix, prettier --write

Add Template for Experience Component
  apps/ng-three/src/app/app.component.ts
  apps/ng-three/src/app/shared/components/experience/experience.component.html
  apps/ng-three/src/app/shared/components/experience/experience.component.ts
Due: eslint --fix, prettier --write

Add Global Styles and Configure it
  .eslintrc.json
  apps-globals/shared-styles/__accesibility.scss
  apps-globals/shared-styles/__base.scss
  apps-globals/shared-styles/__breakpoints.scss
  apps-globals/shared-styles/__browser.scss
  apps-globals/shared-styles/shared-globals.scss
  apps/ng-three/project.json
  apps/ng-three/public/assets/images/.gitkeep
  apps/ng-three/public/assets/styles/app-styles.scss
  apps/ng-three/src/app/app.component.scss
  apps/ng-three/src/styles.scss
  tsconfig.base.json
Due: stylelint --fix, prettier --write

Update project.json and styles.scss for global style configuration
  apps/ng-three/project.json
  apps/ng-three/src/styles.scss
Due: stylelint --fix, prettier --write

Refactor Experience component to use ExperienceComponent naming convention
  apps/ng-three/src/app/app.component.ts
  apps/ng-three/src/app/shared/components/experience/experience.component.html
  apps/ng-three/src/app/shared/components/experience/experience.component.ts
Due: eslint --fix, prettier --write

Add three-orbit-controls package for 3D interaction
  package-lock.json
  package.json
Due: prettier --write

Integrate OrbitControls - started - error
  .vscode/settings.json
  apps/ng-three/src/app/app.component.html
  apps/ng-three/src/app/app.component.ts
  apps/ng-three/src/app/shared/components/experience/experience.component.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Integrate OrbitControls - started - no errors but nok
  apps/ng-three/src/app/app.component.html
  apps/ng-three/src/app/shared/components/experience/experience.component.html
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write

Integrate OrbitControls - started - no errors but nok
  apps/ng-three/src/app/app.component.html
  apps/ng-three/src/app/app.component.ts
  apps/ng-three/src/app/shared/components/experience/experience.component.html
Due: eslint --fix, prettier --write

Integrate OrbitControls - started - no errors & OK
  apps/ng-three/src/app/app.component.html
  apps/ng-three/src/app/app.component.ts
  apps/ng-three/src/app/shared/components/experience/experience.component.html
  apps/ng-three/src/app/shared/components/experience/experience.component.ts
Due: eslint --fix, prettier --write

Use NgtsOrbitControls
  apps/ng-three/src/app/shared/components/experience/experience.component.ts
Due: eslint --fix

Add Orbit Control Options
  apps/ng-three/src/app/shared/components/experience/experience.component.html
Due: prettier --write

Add Terminal Session Config
  .gitignore
  .vscode/sessions.json
Due: prettier --write

Update Terminal Sessions
  .vscode/sessions.json
Due: prettier --write

Update repository name in README.md
  README.md
Due: prettier --write

Update nx.json to include style configuration for "@nx/angular:component" Add coordinates component files
  apps/ng-three/src/app/shared/components/coordinates/coordinates.component.html
  apps/ng-three/src/app/shared/components/coordinates/coordinates.component.scss
  apps/ng-three/src/app/shared/components/coordinates/coordinates.component.spec.ts
  apps/ng-three/src/app/shared/components/coordinates/coordinates.component.ts
  nx.json
Due: stylelint --fix, eslint --fix, prettier --write
